<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
 <body>
  <span class="greeting">Hostname: ${Converter.hostname()}</span>	
  <br/>
  <span class="greeting">Total CPU's: ${Converter.cpu('total_cpu')}</span>
  <br/>
  <span class="greeting">Total memory: ${Converter.memory('total')}</span>
  <br/>
  <span class="greeting">Total SWAP: ${Converter.swap('total')}</span>
  <br/>
  <span class="greeting">Disks: ${Converter.disks()}</span>  
 </body>
</html>